{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}


<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
    {% for type in blogtypes %}
        <li><a href="{{ blog }}">{{ type.type }}</a></li>
    {% endfor %}
</ul></div>


<div><ul>
    {% for post in blogposts %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.user.username }}</p>
        <p>{{ post.blogtype.type }}{{ post.blogtype_id }} </p>
        <a href="{{ url_for('Edit_BlogPost', post_id=post.id, edit_mode=True) }}">Edit</a>
    {% endfor %}

</ul></div>

</br></br></br></br></br>
       
<div><ul>
    {% for cmt in blogcomts %}
        <p>{{ cmt.content}}</p>
        <p>{{ cmt.user.username }}</p>
        <p>parent {{ cmt.parent_comment_id}}</p>
    {% endfor %}
</ul></div>


{% if form %}
    {{ wtf.quick_form(form) }}
    <br/>
{% endif %}

<h2><a href="{{ url_for('Add_BlogPost') }}">Add Post</a></h2>
<h2><a href="{{ url_for('Add_BlogType') }}">Aadd Type</a></h2>

{% endblock %}