{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
    {% for i in blogtypes|sort(attribute='type') %}
        <li>
        <a href="{{ url_for('Blog_Type_Page', blog_type=i.type) }}">{{ i.type }}</a>
        </li>
    {% endfor %}
</ul></div>

<div>
{% for a in blogtypes %}
    <a href="{{ url_for('Edit_Blog_Type', types_id = a.id) }}">Edit</a>
{% endfor %}
</div>


<div>
{% for i in blog_posts %}
    {% if i.blogtype_id == blog_type_entry.id %}
        <h2><a href="{{ url_for('Blog_Post_Page', post_id = i.id) }}">{{ i.title }}</a></h2>
        <p>{{ i.description }}</p>
        <p>{{ i.title }}</p>
    {% endif %}
{% endfor %}
</div>




{% if form %}
    {{ wtf.quick_form(form) }}
    <br/>
{% endif %}

{% endblock %}