{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}


<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
    {% for blogtype in blogtypes %}
        <li>
        <a href="{{ url_for('Blog_Type_Page', blog_type=blogtype.type) }}">{{ blogtype.type }}</a>
        </li>
    {% endfor %}
</ul></div>


<div><ul>
    {% for post in random_posts %}
        <h1><a href="{{ url_for('Blog_Post_Page', post_id=post.id) }}">{{ post.title }}</a></h1>
        <p>{{ post.user.username }}</p>
        <p>{{ post.blogtype.type }}{{ post.blogtype_id }} </p>
    {% endfor %}

</ul></div>

</br></br></br></br></br>
       
<div><ul>
    {% for cmt in blogcomts %}
        <p>{{ cmt.content}}</p>
        <p>{{ cmt.user.username }}</p>
        <p>parent {{ cmt.parent_comment_id}}</p>
    {% endfor %}
</ul></div>


{% if form %}
    {{ wtf.quick_form(form) }}
    <br/>
{% endif %}

<h2><a href="{{ url_for('Add_BlogPost') }}">Add Post</a></h2>
<h2><a href="{{ url_for('Add_BlogType') }}">Aadd Type</a></h2>

{% endblock %}