{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
    {% for i in blogtypes %}
        <li>
        <a href="{{ url_for('Blog_Type_Page', blog_type = i.type) }}">{{ i.type }}</a>
        </li>
    {% endfor %}
</ul></div>


<div class="post">
    <h1>{{ post.title }}</h1>
    <p>{{ post.description }}</p>
    <a href="{{ url_for('Edit_BlogPost', post_id = post.id, edit_mode=True) }}">Edit</a>
</div>

{% for comment in comments %}
    <div class="comment">
        <p>{{ comment.content }}</p>
        <p>{{ comment.user.username }}</p>
    </div>
{% endfor %}



{% endblock %}