{% extends "base.html.j2" %}

{% block head %}
    {{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/city.css') }}">

{% endblock %}

{% block content %}
    <h1>{{ city.name }}</h1>
    <button onclick="showContent('introduction')">Introduction</button>
    <button onclick="showContent('useful_links')">Useful Links</button>
    <button onclick="showContent('emergency_help')">Emergency Help</button>
    <button onclick="showContent('transportation_info')">Transportation Info</button>

    <div class="content-box" id="introduction" style="display: none;">{{ intro.introduction }}</div>
    <div class="content-box" id="useful_links" style="display: none;">{{ intro.useful_links }}</div>
    <div class="content-box" id="emergency_help" style="display: none;">{{ intro.emergency_help }}</div>
    <div class="content-box" id="transportation_info" style="display: none;">{{ intro.transportation_info }}</div>

    <a href="{{ url_for('edit_city', city_name=city.name) }}">Edit</a>

<script>
    function showContent(id) {
        var contents = ['introduction', 'useful_links', 'emergency_help', 'transportation_info'];
        contents.forEach(function(content) {
            document.getElementById(content).style.display = 'none';
        });
        document.getElementById(id).style.display = 'block';
    }

    window.onload = function() {
        showContent('introduction');
    }
</script>
{% endblock %}
