{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

<head>
    <title>Member Page</title>
</head>
<body>
    <h1>Welcome, {{ current_user.username }}!</h1>
    <p>You have {{ points }} points.</p>
</body>

{% endblock %}